@font-face {
  font-family: 'MyCustomFont';
  src: url('../src/assets/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'MyCustomFont',sans-serif;
  letter-spacing: 2px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f293705; /* dark gray */
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #3b82f6, #8b5cf6, #ec4899); /* from-blue-500 via-purple-500 to-pink-500 */
}


@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(140px, -40px);
  }
}

@keyframes floatReverse {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-40px, 140px);
  }
}


.float {
  animation: float 8s ease-in-out infinite;
}

.float-reverse {
  animation: floatReverse 8s ease-in-out infinite;
}
