@font-face {
  font-family: 'MyCustomFont';
  src: url('../src/assets/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'MyCustomFont',sans-serif;
  letter-spacing: 2px;
}

@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(140px, -40px);
  }
}

@keyframes floatReverse {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-40px, 140px);
  }
}


.float {
  animation: float 8s ease-in-out infinite;
}

.float-reverse {
  animation: floatReverse 8s ease-in-out infinite;
}
